<!DOCTYPE html>
<html lang="en">

<head>

    <title>Weather App - Muaz Shaban</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div>{{>header}}</div>
    <div class="main"></div>
    {{>footer}}
</body>

</html>