<!DOCTYPE html>
<html lang="en">

<head>

    <title>Weather App - Muaz Shaban</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="./weather.svg" />
</head>

<body>
    <div class="content">
        <div>{{>header}}</div>
        <div class="main">
            <form>
                <input type="text" placeholder="Enter Location" name="address">
                <button type="submit" id="btn">Check Weather</button>
                <p id="weather"></p>
            </form>
        </div>
    </div>
    {{>footer}}

    <script src="./js/script.js"></script>
</body>

</html>