<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    {{>header}}
    <form>
        <input type="text" placeholder="Enter Location" name="address">
        <button type="submit">Check Weather</button>
    </form>
    <p id="weather"></p>
    {{>footer}}

    <script src="./js/script.js"></script>
</body>

</html>