body {
  color: #333;
  font-family: "Arial";
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  border-top: 1px solid grey;
  margin-top: 20px;
}

footer p {
  color: grey;
}

h1 {
  font-size: 3rem;
}

header a {
  text-decoration: none;
  color: rgb(151, 151, 151);
  font-family: "Arial";
  font-size: 1.5rem;
  padding: 4px 16px;
}

header a:hover {
  color: rgb(104, 104, 104);
}

input {
  font-size: 1.5rem;
  margin: 1rem;
  border: 1px solid lightgray;
  padding: 4px;
}

button {
  font-size: 1rem;
  margin: 1rem;
  border: 1px solid lightgray;
  padding: 8px;
}

.main {
  flex-wrap: 1;
}

.error {
  color: red;
}

#weather {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
}

#weather span {
  font-size: 1.3rem;
}
